body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* Solution */

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 32px;
  font-size: 32px;
  font-weight: 900;
}

.side-links {
  flex: 1;
  display: flex;
}

.sidebar {
  flex-shrink: 0;
  padding: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 16px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.div-cards {
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  padding: 16px;
  width: 300px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}


















/* 
.content-menu{
  flex: 1;
 display: flex;
}

.div-cards {
  display: flex;
  padding: 30px;
  gap: 20px;
}

.card {
  padding: 20px;
  flex-wrap: 1;
  flex-shrink: 1;
}

.footer {
  padding-top: 50px;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
}

.sidebar {
  width: 700px;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  padding: 10px;
}

.header {
  font-size: 20px;
  padding-top: 10px;
  text-align: start;
} */