/* Add CSS Styling */
.click-button {
    background-color: black;
    color: white;
    font-weight: 600;
}

.click-no-button {
    background-color: #ffff00;
}

.click-button, .click-no-button {
    font-size: 28px;
    font-family: "Helvetica","Times New Roman", "sans-serif" ;
}