body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 15px;
}

.card {
  padding-bottom: 2px;
}


.title {
  background: #e3f4ff;
  padding-top: 15px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  padding: 15px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  text-align: center;
  display: block;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

.title, .content, .button-container {
  background-color: rgb(136, 136, 214);
  margin: 10px;
  font-size: 16px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
}

